@import './base.css';

.fs-01 { font-size: 0.1em !important; }
.fs-02 { font-size: 0.2em !important; }
.fs-03 { font-size: 0.3em !important; }
.fs-04 { font-size: 0.4em !important; }
.fs-05 { font-size: 0.5em !important; }
.fs-055 { font-size: 0.55em !important; }
.fs-06 { font-size: 0.6em !important; }
.fs-065 { font-size: 0.65em !important; }
.fs-07 { font-size: 0.7em !important; }
.fs-075 { font-size: 0.75em !important; }
.fs-08 { font-size: 0.8em !important; }
.fs-085 { font-size: 0.85em !important; }
.fs-09 { font-size: 0.9em !important; }
.fs-095 { font-size: 0.95em !important; }
.fs-10 { font-size: 1.0em !important; }
.fs-11 { font-size: 1.1em !important; }
.fs-12 { font-size: 1.2em !important; }
.fs-13 { font-size: 1.3em !important; }
.fs-14 { font-size: 1.4em !important; }
.fs-15 { font-size: 1.5em !important; }
.fs-16 { font-size: 1.6em !important; }
.fs-17 { font-size: 1.7em !important; }
.fs-18 { font-size: 1.8em !important; }
.fs-19 { font-size: 1.9em !important; }
.fs-20 { font-size: 2.0em !important; }
.fs-21 { font-size: 2.1em !important; }
.fs-22 { font-size: 2.2em !important; }
.fs-23 { font-size: 2.3em !important; }
.fs-24 { font-size: 2.4em !important; }
.fs-25 { font-size: 2.5em !important; }
.fs-26 { font-size: 2.6em !important; }
.fs-27 { font-size: 2.7em !important; }
.fs-28 { font-size: 2.8em !important; }
.fs-29 { font-size: 2.9em !important; }
.fs-30 { font-size: 3.0em !important; }
.fs-35 { font-size: 3.5em !important; }
.fs-40 { font-size: 4.0em !important; }
.fs-45 { font-size: 4.5em !important; }
.fs-50 { font-size: 5.0em !important; }
.fs-60 { font-size: 6.0em !important; }
.fs-70 { font-size: 7.0em !important; }
.fs-80 { font-size: 8.0em !important; }
.fs-90 { font-size: 9.0em !important; }
.fw-1 { font-weight: 100 !important; }
.fw-2 { font-weight: 200 !important; }
.fw-3 { font-weight: 300 !important; }
.fw-4 { font-weight: 400 !important; }
.fw-5 { font-weight: 500 !important; }
.fw-6 { font-weight: 600 !important; }
.fw-7 { font-weight: 700 !important; }
.fw-8 { font-weight: 800 !important; }
.fw-9 { font-weight: 900 !important; }
.fl-10 { line-height: 1.0 !important; }
.fl-11 { line-height: 1.1 !important; }
.fl-12 { line-height: 1.2 !important; }
.fl-13 { line-height: 1.3 !important; }
.fl-14 { line-height: 1.4 !important; }
.fl-15 { line-height: 1.5 !important; }
